
  
//- 忘记提现密码弹框
el-dialog.four-eight(
  ref="dialogForm"
  :title="formColumn.title"
  :visible="withdrawDialogVisible"
  :append-to-body='true'
  width="480px"
  @close="closeDialog"
)
  edit-form(:formColumn="formColumn" :form="dialogForm" :formRules="formRules" @tabClick="tabClick" :tabName="tabName" ref="editForm")
    