.ad-api
  .left-bottom(v-if="isLeftBottomVisible")
    swiper(v-if="leftBottomData.length > 1" :options="swiperOption")
      swiper-slide(v-for="item, index in leftBottomData" :key="index")
        a(:href="item.link ? item.link: 'javascript:;'" target="_blank")
          img(:src="item.img_pc")
      .swiper-pagination(slot="pagination")
    a(v-else :href="leftBottomData[0].link ? leftBottomData[0].link:'javascript:;'" target="_blank")
      img(:src="leftBottomData[0].img_pc")
    span(@click="isLeftBottomVisible = false" title="关闭")
  .right-bottom(v-if="isRightBottomVisible")
    swiper(v-if="rightBottomData.length > 1" :options="swiperOption")
      swiper-slide(v-for="item, index in rightBottomData" :key="index")
        a(:href="item.link ? item.link: 'javascript:;'" target="_blank")
          img(:src="item.img_pc")
      .swiper-pagination(slot="pagination")
    a(v-else :href="rightBottomData[0].link ? rightBottomData[0].link:'javascript:;'" target="_blank")
      img(:src="rightBottomData[0].img_pc")
    span(@click="isRightBottomVisible = false" title="关闭")
