.recharge
  height 630px
  overflow-y auto
  overflow-x hidden

  .empty
    display flex
    justify-content center
    margin-top 70px

    .empty-wrap
      text-align center

      p
        margin-top 30px
        color #1B1D26
        font-size 14px

        span
          color #e6382f
          cursor pointer

  .tabs
    height 34px

    .tab
      float left
      color #666666
      font-size 14px
      padding 0 19px
      line-height 19px
      border-right 1px solid #D1D1D1
      cursor pointer

      &.active
        color #e6382f
        position relative

        &:after
          content ''
          display block
          width 10px
          height 6px
          background url('./img/arrow.png') no-repeat
          position absolute
          left 0
          right 0
          margin auto
          bottom -9px

      &:last-child
        border-right 0
