@import './fonts/iconfont.css'

.guide-wrap
  width 1200px
  margin 20px auto
  display flex
  justify-content space-between

  .box
    width 180px
    height 50px
    display flex
    align-items center
    cursor pointer
    color #000
    position relative

    &:hover
      color #F4002B

    .index_guide
      font-size 40px
      margin 0 12px

    .label
      font-size 20px
      font-weight bolder
      letter-spacing 2px

    .desc
      font-size 12px
      margin-top 4px
      opacity 0.6
