.banner-wrap
  height 430px

  img
    width 1920px
    height 430px

  .swiper-container
    max-width 1920px

  .swiper-pagination
    bottom 20px

  >>>
    .swiper-pagination-bullet
      width 36px
      height 4px
      border-radius 0
      background-color #DCDCDC
      opacity 1

      &:focus
        outline none

    .swiper-pagination-bullet-active
      background-color #F4002B
