.type-menu
  swiper(:options="swiperOption" ref="swiper")
    swiper-slide(v-for="item, index in menu" :key="index")
      .item(:class="{active: current === item.id}" @click="changeType(item.id)") {{item.name}}
  .swiper-button-prev.swiper-button-white
  .swiper-button-next.swiper-button-white