.edit-info
  background-color #ffffff
  padding-top 30px
  height 608px
  overflow-y auto

  .red-btn-260
    width 180px !important
    font-size 14px !important

  .form
    .red-btn-260
      margin-left 100px

  .select-avater-wrap
    width 472px

    // overflow auto
    // overflow-y hidden
    .avater-item
      width 78px
      float left
      display flex
      align-items center
      justify-content center

      img
        width 100%
        height 100%
