// 定义全局共用的样式

// 定义整站样式
body
  font-family -apple-system, 'Helvetica Neue', Arial, 'PingFang SC', 'lucida grande', 'lucida sans unicode', lucida, helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  min-width 1200px
  overflow-y scroll

.dialog-css
  overflow hidden
  padding-right 17px !important

// 内容框
.frame
  padding 20px
  margin 15px 15px 10px 15px
  background #fff
  border 1px solid #dfdfdf
  -webkit-box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04)
  box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04)

// 清除浮动
.clearfix
  &:after
    clear both
    display block
    width 0
    height 0
    padding 0
    margin 0
    content ''

.red-btn-260
  width 218px !important
  height 40px !important
  background #E6382F !important
  border-radius 3px !important
  font-size 16px !important
  // font-weight 500
  margin-left 0 !important
