.recharge
  .filter
    el-form(:model="form" :inline="true" size="small" :label-position="'top'")
      el-form-item(label="交易时间")
        day-picker(v-model="days" :defaultValue="[0,0]" ref="dayPicker")
      el-form-item(label="交易类型")
        el-select(v-model="form.category" placeholder="请选择类型")
          el-option(v-for="item,index in optionTypes" :key="index" :label="item.label" :value="item.value")
    .query
      el-button.solid(type="primary" @click="onQueryClick") 查询
      el-button.hollow(@click="onResetClick") 重置
  .table
    el-table(:data="tableData" stripe border style="width: 100%" v-loading="isLoading")
      el-table-column(v-for="item, index in tableHead" :key="item.index" :label="item.label" :prop="item.prop" :width="item.width" :min-width="item.minWidth" :formatter="item.formatter")
    el-pagination(@size-change="onPageSizeChange" @current-change="onCurrentChange" :current-page="page" :page-sizes="sizes" :page-size="size" layout="total, sizes, prev, pager, next, jumper" :total="total" background)


  