.app-wrap
  background url('./img/bg.png') no-repeat center
  max-width 1920px
  height 420px
  margin 40px auto 0 auto

  .content
    width 1200px
    height 420px
    margin 0 auto
    position relative

    .title-wrap
      width 280px
      height 104px
      background-color #2C2E2E
      box-sizing border-box
      -moz-box-sizing border-box
      -webkit-box-sizing border-box
      text-align center
      padding 25px 0
      position relative
      top -60px

      .title
        font-size 28px
        font-weight bold
        color #FFFFFF

      .sub
        font-size 12px
        font-weight 400
        color #CBCBCB
        margin-top 10px

    .desc
      font-size 16px
      color #2C2E2E
      font-weight bold
      width 670px
      line-height 27px
      position relative
      top -40px

    .qcode-wrap
      display flex
      position relative
      top -20px

      .box
        width 222px
        height 258px
        border-radius 10px
        background-color #F4F5FA
        text-align center

        &+.box
          margin-left 80px

        .qcode
          width 174px
          margin 25px 0 10px 0

        .name-wrap
          display flex
          justify-content center
          align-items center

          .ios
            width 20px
            height 24px
            margin-right 20px

          .android
            width 21px
            height 24px
            margin-right 6px

          span
            font-size 14px
            color #909090
            margin-top 2px

    .app-image
      width 430px
      height 487px
      position absolute
      bottom 0
      right 0
